.form-container {
  background: #01556e;
  color: #fff;
  padding: 24px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
}

.form-container label {
  display: block;
  margin-bottom: 12px;
}

.form-container textarea,
.form-container select {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: none;
}

.form-container button {
  background: #fc7625;
;
  color: #01556e;
  font-weight: 600;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}
