#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#app-title {
  position: absolute;
  top: 16px;
  left: 16px;
  margin: 0;
}

#app-title .thin {
  font-weight: 300;
  color: #20819c;
}
#app-title .thick {
  font-weight: 700;
  color: #01556e;
}

#app-title .thick-orange {
  font-weight: 700;
  color: #01556e;
}

.darkCyanText {
  color: #01556e;
}


.flash-card {
  height: 250px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 100px;
}

.flash-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform .6s;
  transform-style: preserve-3d;
}

.flash-card.flipped .flash-card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
  color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fc7625;
}

.card-back {
  transform: rotateY(180deg);
  
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
}

.meta-container {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.meta-tag {
  background-color: #01556e;
  border: 1px solid #01556e;
  padding: 6px 14px;
  border-radius: 99px;

  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: capitalize;

  display: flex; 
  align-items: center;
  gap: 6px;
  
  transition: background-color 0.2s;
}